@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e5c38b;
  --color-secondary: #5c7f67;
}
